body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    background-color: #6943FF;
    height: 40vh;
    display: grid;
    justify-content: center;
    align-items: center;
}

.header {
    color: white;
    height: 0px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.number {
    color: white;
    font-weight: bold;
    display: grid;
    justify-content: center;
}

.number input {
    border: 2px solid #B295FF;
    font-size: 3rem;
    width: 120px;
    text-align: center;
    border-radius: 6px;
    height: 76px;
    justify-content: grid;
    padding-left: 20px
}

button {
    width: 120px;
    display: grid;
    justify-content: center;
    margin: 25 auto;
    height: 45px;
    align-items: center;
    border-radius: 5px;
    border-style: none;
    font-size: 1.15rem;
}

.conversion-section {
    background-color: #1F2937; 
    height: 100%;
    max-height: 80vh;
}

.cards {
    display: grid;
    justify-content: center;
    background-color: #1F2937; 
    padding: 20px; 
    border-radius: 10px; 
    width: 70%;
    margin: 0 auto;
    margin-bottom: 0px;
}
.card {
    display: grid;
    justify-content: center;
    border-color: #3a4d68;
    background-color: #34495E; 
    padding: 20px; 
    border-radius: 10px; 
    width: 70%;
    margin: 0 auto;
    margin-bottom: 40px;

}

.card h1 {
    color: #CCC1FF;
    text-align: center;
}

.card p {
    color: white;
    text-align: center;
}
